body {
  margin: 0;
    background: #ffffff;
  font-family: "Roboto Thin";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

a:visited {
 ;
}